@model CineManager.Models.Entities.Funcion
@{ ViewData["Title"] = "Crear Funcion"; }
<h1>Crear Funcion</h1>
<form asp-action="Create" method="post">
<div class="form-group"><label asp-for="SucursalId"></label><input asp-for="SucursalId" class="form-control" /></div><div class="form-group"><label asp-for="SalaId"></label><input asp-for="SalaId" class="form-control" /></div><div class="form-group"><label asp-for="PeliculaId"></label><input asp-for="PeliculaId" class="form-control" /></div><div class="form-group"><label asp-for="Horario"></label><input asp-for="Horario" class="form-control" /></div>
<button type="submit" class="btn btn-primary">Guardar</button>
</form>